about content-length = 0 (and status 308)

Hi,

is it possible to stop `Content-Length: 0` sometimes? When simply doing:

```go
if err := fasthttp.ListenAndServe(":80", func(ctx *fasthttp.RequestCtx) {
  ctx.Response.Header.Set("Location", "https://example.com" + string(ctx.RequestURI()))
  ctx.SetStatusCode(308)
}); err != nil {
  // ...
```

i got

![image](https://user-images.githubusercontent.com/42785945/51388203-f97ef680-1b28-11e9-8450-626508d000f9.png)

**but** there was **no** action to **write** something to `response`.

As in `301`, `302`, `303`, `307` and `308` there is no need for it? Not sure, but per RFC it`s irregular?

-------------------------

Like here:

```go
if string(ctx.Request.Header.Peek("if-none-match")) == hash {
  ctx.SetStatusCode(304)
  return nil
}
```

i have

![image](https://user-images.githubusercontent.com/42785945/51388417-a5c0dd00-1b29-11e9-89db-44784eeb1f5a.png)

-----------------------

So, is it possible to stop `Content-Length: 0` here?

Thank you ☺️ 

--------------------

**btw.:** why `308` is not implemented in https://godoc.org/github.com/valyala/fasthttp#RequestCtx.Redirect ?

https://tools.ietf.org/html/rfc7538#section-3 states
>       Note: This status code is similar to 301 (Moved Permanently)
>      ([RFC7231], Section 6.4.2), except that it does not allow changing
>      the request method from POST to GET.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/308#Browser_compatibility

Oh, sorry,

https://tools.ietf.org/html/rfc7538#section-3 states
> The server's response payload usually contains a short hypertext note with a hyperlink to the new
   URI(s).

too.

So just take my issue as a **proposal to allow** `308` in https://godoc.org/github.com/valyala/fasthttp#RequestCtx.Redirect

Fixed in https://github.com/valyala/fasthttp/commit/c3ff460e022250ee13136d0d5c8fe93dec1ef80a