Accepting requests without Host header

Fasthttp  server accepts requests without `Host` header:

```go
package main

import (
	"fmt"
	"github.com/valyala/fasthttp"
)

func main() {
	fasthttp.ListenAndServe(":8081", func(ctx *fasthttp.RequestCtx) {
		fmt.Fprintf(ctx, "Hi there! RequestHeaders are:\n%s", ctx.Request.Header.String())
	})
}
```

```console
$ curl localhost:8081 -H 'Host:'
Hi there! RequestHeaders are:
GET / HTTP/1.1
User-Agent: curl/7.64.1
Accept: */*
```

According to RFC 7230 section 5.4: https://datatracker.ietf.org/doc/html/rfc7230#section-5.4

> A server MUST respond with a 400 (Bad Request) status code to any
   HTTP/1.1 request message that lacks a Host header field and to any
   request message that contains more than one Host header field or a
   Host header field with an invalid field-value.

Go net/http library responds with `400 Bad Request, missing required Host header`. https://cs.opensource.google/go/go/+/refs/tags/go1.17.6:src/net/http/server.go;l=984

```go
package main

import (
	"fmt"
         "net/http"
)

func main() {
        http.HandleFunc("/", func(w http.ResponseWriter, r *http.Request) {
		fmt.Fprintf(w, "Hi from net/http! RequestHeaders are:\n%v", r.Header)
	})
	http.ListenAndServe(":8080", nil)
}
```

```console
$ curl localhost:8080/ -H 'Host:'
400 Bad Request: missing required Host header
```

Is it something that fasthttp server should do, or left for the users to handle?

I think we can keep this as something for the user to handle. Fasthttp sometimes skips some of these RFC sections in the name of speed.