Authorization in ctx.Request.Header gone

Example A (fasthttp)
```go
package main

import (
	fastwebdav "Process/webdav"
	"encoding/base64"
	"github.com/valyala/fasthttp"
	"net/http"
	"strings"
	"testing"
)

// basicAuth returns the username and password provided in the request's
// Authorization header, if the request uses HTTP Basic Authentication.
// See RFC 2617, Section 2.
func basicAuth(ctx *fasthttp.RequestCtx) (username, password string, ok bool) {
	auth := ctx.Request.Header.Peek("Authorization")
	if auth == nil {
		return
	}
	return parseBasicAuth(string(auth))
}

// parseBasicAuth parses an HTTP Basic Authentication string.
// "Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==" returns ("Aladdin", "open sesame", true).
func parseBasicAuth(auth string) (username, password string, ok bool) {
	const prefix = "Basic "
	if !strings.HasPrefix(auth, prefix) {
		return
	}
	c, err := base64.StdEncoding.DecodeString(auth[len(prefix):])
	if err != nil {
		return
	}
	cs := string(c)
	s := strings.IndexByte(cs, ':')
	if s < 0 {
		return
	}
	return cs[:s], cs[s+1:], true
}

func TestFasthttp(t *testing.T) {
	user, pass := "foo", "bar"
	handler := fastwebdav.Handler{
		Prefix:     "",
		FileSystem: fastwebdav.NewDir(".", nil),
		LockSystem: fastwebdav.NewMemLS(),
	}

	if err := fasthttp.ListenAndServe(":80", func(ctx *fasthttp.RequestCtx) {
		t.Logf("**********begin**********")
		t.Logf("method=%s", ctx.Method())
		t.Logf("path=%s", ctx.Path())
		ctx.Request.Header.VisitAllInOrder(func(key, value []byte) {
			t.Logf("key:value=%s:%s", key, value)
		})
		t.Logf("-----------end-----------")

		if ctx.IsOptions() {
			handler.Handle(ctx)
			return
		}

		u, p, ok := basicAuth(ctx)
		if ok && u == user && p == pass {
			handler.Handle(ctx)
			return
		}

		ctx.Response.Header.Set(fasthttp.HeaderWWWAuthenticate, `Basic realm="server"`)
		ctx.Error(http.StatusText(http.StatusUnauthorized), http.StatusUnauthorized)
	}); err != nil {
		t.Fatalf("fasthttp listen and serve error=%v", err)
	}
}
```
By using WInSCP for WebDAV Client
Console output
```
=== RUN   TestFasthttp
    TestFasthttp: webdav_test.go:52: **********begin**********
    TestFasthttp: webdav_test.go:53: method=OPTIONS
    TestFasthttp: webdav_test.go:54: path=/
    TestFasthttp: webdav_test.go:56: key:value=User-Agent:WinSCP/5.17.6 neon/0.31.1
    TestFasthttp: webdav_test.go:56: key:value=Keep-Alive:
    TestFasthttp: webdav_test.go:56: key:value=Connection:TE, Keep-Alive
    TestFasthttp: webdav_test.go:56: key:value=Te:trailers
    TestFasthttp: webdav_test.go:56: key:value=Host:192.168.2.49
    TestFasthttp: webdav_test.go:58: -----------end-----------
    TestFasthttp: webdav_test.go:52: **********begin**********
    TestFasthttp: webdav_test.go:53: method=PROPFIND
    TestFasthttp: webdav_test.go:54: path=/
    TestFasthttp: webdav_test.go:56: key:value=User-Agent:WinSCP/5.17.6 neon/0.31.1
    TestFasthttp: webdav_test.go:56: key:value=Connection:TE
    TestFasthttp: webdav_test.go:56: key:value=Te:trailers
    TestFasthttp: webdav_test.go:56: key:value=Host:192.168.2.49
    TestFasthttp: webdav_test.go:56: key:value=Depth:0
    TestFasthttp: webdav_test.go:56: key:value=Content-Length:84
    TestFasthttp: webdav_test.go:56: key:value=Content-Type:application/xml
    TestFasthttp: webdav_test.go:58: -----------end-----------
    TestFasthttp: webdav_test.go:52: **********begin**********
    TestFasthttp: webdav_test.go:53: method=PROPFIND
    TestFasthttp: webdav_test.go:54: path=/
    TestFasthttp: webdav_test.go:56: key:value=User-Agent:WinSCP/5.17.6 neon/0.31.1
    TestFasthttp: webdav_test.go:56: key:value=Connection:TE
    TestFasthttp: webdav_test.go:56: key:value=Te:trailers
    TestFasthttp: webdav_test.go:56: key:value=Host:192.168.2.49
    TestFasthttp: webdav_test.go:56: key:value=Depth:1
    TestFasthttp: webdav_test.go:56: key:value=Content-Length:84
    TestFasthttp: webdav_test.go:56: key:value=Content-Type:application/xml
    TestFasthttp: webdav_test.go:58: -----------end-----------
```
Because of missing `Authorization` header, the WinSCP returned `401 Unauthorized`

Example B (http)
```go
package main

import (
	"golang.org/x/net/webdav"
	"net/http"
	"testing"
)

func TestHttp(t *testing.T) {
	user, pass := "foo", "bar"
	handler := webdav.Handler{
		Prefix:     "",
		FileSystem: webdav.Dir("."),
		LockSystem: webdav.NewMemLS(),
	}

	if err := http.ListenAndServe(":80", http.HandlerFunc(func(writer http.ResponseWriter, request *http.Request) {
		t.Logf("**********begin**********")
		t.Logf("method=%s", request.Method)
		t.Logf("path=%s", request.URL.Path)
		for key, values := range request.Header {
			for _, value := range values {
				t.Logf("key:value=%s:%s", key, value)
			}
		}
		t.Logf("-----------end-----------")
		if request.Method == http.MethodOptions {
			handler.ServeHTTP(writer, request)
			return
		}
		u, p, ok := request.BasicAuth()
		if ok && u == user && p == pass {
			handler.ServeHTTP(writer, request)
			return
		}

		writer.Header().Set("WWW-Authenticate", `Basic realm="server"`)
		http.Error(writer, http.StatusText(http.StatusUnauthorized), http.StatusUnauthorized)
	})); err != nil {
		t.Fatalf("http listen and serve error=%v", err)
	}
}

```
Console output
```
=== RUN   TestHttp
    TestHttp: http_test.go:18: **********begin**********
    TestHttp: http_test.go:19: method=OPTIONS
    TestHttp: http_test.go:20: path=/
    TestHttp: http_test.go:23: key:value=Connection:TE, Keep-Alive
    TestHttp: http_test.go:23: key:value=Te:trailers
    TestHttp: http_test.go:23: key:value=User-Agent:WinSCP/5.17.6 neon/0.31.1
    TestHttp: http_test.go:23: key:value=Keep-Alive:
    TestHttp: http_test.go:26: -----------end-----------
    TestHttp: http_test.go:18: **********begin**********
    TestHttp: http_test.go:19: method=PROPFIND
    TestHttp: http_test.go:20: path=/
    TestHttp: http_test.go:23: key:value=Connection:TE
    TestHttp: http_test.go:23: key:value=Te:trailers
    TestHttp: http_test.go:23: key:value=Depth:0
    TestHttp: http_test.go:23: key:value=Content-Length:84
    TestHttp: http_test.go:23: key:value=Content-Type:application/xml
    TestHttp: http_test.go:23: key:value=User-Agent:WinSCP/5.17.6 neon/0.31.1
    TestHttp: http_test.go:26: -----------end-----------
    TestHttp: http_test.go:18: **********begin**********
    TestHttp: http_test.go:19: method=PROPFIND
    TestHttp: http_test.go:20: path=/
    TestHttp: http_test.go:23: key:value=Depth:0
    TestHttp: http_test.go:23: key:value=Content-Length:84
    TestHttp: http_test.go:23: key:value=Content-Type:application/xml
    TestHttp: http_test.go:23: **key:value=Authorization:Basic Zm9vOmJhcg==**
    TestHttp: http_test.go:23: key:value=User-Agent:WinSCP/5.17.6 neon/0.31.1
    TestHttp: http_test.go:23: key:value=Connection:TE
    TestHttp: http_test.go:23: key:value=Te:trailers
    TestHttp: http_test.go:26: -----------end-----------
    TestHttp: http_test.go:18: **********begin**********
    TestHttp: http_test.go:19: method=PROPFIND
    TestHttp: http_test.go:20: path=/
    TestHttp: http_test.go:23: key:value=Depth:1
    TestHttp: http_test.go:23: key:value=Content-Length:84
    TestHttp: http_test.go:23: key:value=Content-Type:application/xml
    TestHttp: http_test.go:23: **key:value=Authorization:Basic Zm9vOmJhcg==**
    TestHttp: http_test.go:23: key:value=User-Agent:WinSCP/5.17.6 neon/0.31.1
    TestHttp: http_test.go:23: key:value=Connection:TE
    TestHttp: http_test.go:23: key:value=Te:trailers
    TestHttp: http_test.go:26: -----------end-----------
```
As you can see, `http.Request` could read `Authorization` header, and WinSCP was able to list the files.
So what's the problem...